<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tambah Jabatan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
</head>

<body>
	
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2>Hello!</h2>
	
	<h3>Tambah Pegawai</h3>
	<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
		Nama: <br>
		<input type="text" name="nama" />
		<br>
		Tempat Lahir: <br>
		<input type="text" name="tempatLahir" />
		<br>
		Tanggal Lahir: <br>
		<input type="date" name="tanggalLahir" />
		<br>
		Tahun Masuk: <br>
		<input type="number" name="tahunMasuk" />
		<br>
		<!--  Provinsi: <br>
		<select name = "provinsi">
			<option th:each = "provinsi : ${provinsiList}"
					th:value = "${provinsi.id}"
					th:text = "${provinsi.nama}"></option>
		</select>
		<br>-->
		Nama Instansi: <br>
		<!--  <select name = "instansi">
			<option th:each = "instansi : ${instansiList}"
					th:value = "${instansi}"
					th:text = "${instansi.nama}"></option>
		</select>
		<br>-->
		<select name="instansi">
			<div th:each = "provinsi : ${provinsiList}">
				<option th:each = "instansiProvinsi : ${provinsi.instansiList}"
						th:value = "${instansiProvinsi.id}"
						th:text = "${instansiProvinsi.nama} + ' - ' + ${provinsi.nama}"></option>
			</div>
		</select><br>
		<!--  Jabatan: <br>
		<select name = "jabatan">
			<option th:each = "jabatan : ${jabatanList}"
					th:value = "${jabatan.id}"
					th:text = "${jabatan.nama}"></option>
		</select>
		<br><br>-->
		<button type="submit">Submit</button>
	</form>
</body>

</html>