<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tambah Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	
	<meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container" style="padding-top: 32px;">
	<h2>Tambah Pegawai</h2>
	<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
		Nama: <br>
		<input class="form-control" type="text" name="nama" th:value="${pegawai.nama}"/>
		<br>
		Tempat Lahir: <br>
		<input class="form-control" type="text" name="tempatLahir" th:value="${pegawai.tempatLahir}"/>
		<br>
		Tanggal Lahir: <br>
		<input class="form-control" type="date" name="tanggalLahir" th:value="${pegawai.tanggalLahir}"/>
		<br>
		Tahun Masuk: <br>
		<input class="form-control" type="number" name="tahunMasuk" th:value="${pegawai.tahunMasuk}"/>
		<br>
		
		<td th:text="'Provinsi'"></td>
 		<td>
				<select id="provinsi" class="form-control"/>
					<option disabled="disabled" selected="selected" >Pilih Provinsi</option>
				<option th:each="provinsi : ${provinsiList}"
				th:value="${provinsi.id}"
				th:text="${provinsi.nama}"></option>
				</select>
 		</td>
		<br>
		<td th:text="'Nama Instansi'"></td>
 		<td>
			<select th:field="*{instansi}" id="instansi" class="form-control"/>
				<option disabled="disabled" selected="selected" >Pilih Instansi</option>
			</select>
 		</td>
		<br>
		Jabatan: <br>
		<div th:each = "j,rowStat : *{jabatanList}">
			<select class="form-control" name = "jabatanList">
				<option th:each = "jabatan : ${jabatanList}"
						th:value = "${jabatan.id}"
						th:field="*{jabatanList[__${rowStat.index}__].id}"
						th:text = "${jabatan.nama}"></option>
			</select>
			<button class="btn btn-primary btn" type="submit" name="removeRow" th:value="${rowStat.index}">Remove Row</button>
			<br><br>
		</div>
		<button class="btn btn-primary btn" type="submit" name="addRow">Add Row</button>
		<br>
		<br>
		<button  class="btn btn-primary btn" type="submit">Submit</button>
	</form>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		console.log("hello")
		$('#provinsi').change(function() {
			valueProv = $(this).val();
			$.ajax({
				type: "GET",
				url: "http://localhost:8080/pegawai/tambah/instansi?provinsi=",
				data: {
					'provinsiId' : valueProv
				},
				dataType: 'json',
				success: function(data) {
					console.log(data);
					getIns = '';
					var size = data.length;
				
					for (var i = 0; i<size; i++) {
						getIns+='<option value="'+data[i].id+'">'+data[i].nama+'</option>';
						console.log(data[i]);
						console.log(data[i].nama)
					}
					console.log(getIns);
					$('#instansi').append(getIns);
				},
				error: function(rs,e) {
					alert(rs.responseText)
				}
			})
		})
	});
	</script>
</body>

</html>