<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
</head>

<body>
	
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<br>
		<h2>Hello!</h2>
		
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						Cari Pegawai berdasarkan NIP
					</div>
					<form th:action="@{/pegawai}" method="GET">
						<div class="card-body">
							<label for="nip">Nomor lisensi:</label>
							<input type="text" name="nip" class="form-control"/>
							<p></p>
							<button type="submit" class="btn btn-primary">Cari</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						Lihat Detail Jabatan
					</div>
					<form th:action="@{/jabatan/view}" method="GET">
						<div class="card-body">
							<label for="nip">Pilih Jabatan:</label>
								<a th:action="@{/jabatan/view}" method = "GET">
									<select name = "idJabatan">
										<option th:each = "jabatan : ${jabatanList}"
												th:value = "${jabatan.id}"
												th:text = "${jabatan.nama}"></option>
									</select><br><br>
									<button type = "cari" class = "btn btn-primary">Submit</button>
								</a>
							<p></p>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						Lihat Pegawai Termuda dan Tertua
					</div>
					<form th:action="@{/pegawai/termuda-tertua}" method="GET">
						<div class="card-body">
							<label for="nip">Pilih Instansi:</label>
								<a th:action="@{/pegawai/termuda-tertua}" method = "GET">
									<select name = "idInstansi">
										<option th:each = "instansi : ${instansiList}"
												th:value = "${instansi.id}"
												th:text = "${instansi.nama}"></option>
									</select><br><br>
									<button type = "cari" class = "btn btn-primary">Submit</button>
								</a>
							<p></p>
						</div>
					</form>
				</div>
			</div>
		</div>

</body>

</html>