<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lihat Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	
	<h2 th:text="'Lihat Data Pegawai - '+ ${pegawaiTermuda.nip}"></h2>
	<br>
	<table class="table">
		<tbody>
			<tr>
				<td th:text="'NIP'"></td>
				<td th:text="${pegawaiTermuda.nip}"></td>
			</tr>
			<tr>
				<td th:text="'Nama'"></td>
				<td th:text="${pegawaiTermuda.nama}"></td>
			</tr>
			<tr>
				<td th:text="'Tempat Lahir'"></td>
				<td th:text="${pegawaiTermuda.tempatLahir}"></td>
			</tr>
			<tr>
				<td th:text="'Tanggal Lahir'"></td>
				<td th:text="${pegawaiTermuda.tanggalLahir}"></td>
			</tr>
			<tr>
				<td th:text="'Tahun Masuk'"></td>
				<td th:text="${pegawaiTermuda.tahunMasuk}"></td>
			</tr>
			<tr>
				<td th:text="'Nama Instansi'"></td>
				<td th:text="${pegawaiTermuda.instansi.nama} + ' - ' + ${pegawaiTermuda.instansi.provinsi.nama}"></td>
			</tr>
			<tr th:each="jabatan, iterationStat : ${pegawaiTermuda.jabatanList}">
				<td th:text="${iterationStat.first} ? 'Jabatan'"></td>
				<td>
					<ul>
						<li th:text="${jabatan.nama}"></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td th:text="'Gaji'"></td>
				<td th:text="'Rp' + ${gajiTermuda}"></td>
			</tr>
		</tbody>
	
	</table>
	
	<br>
	
	<h2 th:text="'Lihat Data Pegawai - '+ ${pegawaiTertua.nip}"></h2>
	<br>
	<table class="table">
		<tbody>
			<tr>
				<td th:text="'NIP'"></td>
				<td th:text="${pegawaiTertua.nip}"></td>
			</tr>
			<tr>
				<td th:text="'Nama'"></td>
				<td th:text="${pegawaiTertua.nama}"></td>
			</tr>
			<tr>
				<td th:text="'Tempat Lahir'"></td>
				<td th:text="${pegawaiTertua.tempatLahir}"></td>
			</tr>
			<tr>
				<td th:text="'Tanggal Lahir'"></td>
				<td th:text="${pegawaiTertua.tanggalLahir}"></td>
			</tr>
			<tr>
				<td th:text="'Tahun Masuk'"></td>
				<td th:text="${pegawaiTertua.tahunMasuk}"></td>
			</tr>
			<tr>
				<td th:text="'Nama Instansi'"></td>
				<td th:text="${pegawaiTertua.instansi.nama} + ' - ' + ${pegawaiTertua.instansi.provinsi.nama}"></td>
			</tr>
			<tr th:each="jabatan, iterationStat : ${pegawaiTertua.jabatanList}">
				<td th:text="${iterationStat.first} ? 'Jabatan'"></td>
				<td>
					<ul>
						<li th:text="${jabatan.nama}"></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td th:text="'Gaji'"></td>
				<td th:text="'Rp' + ${gajiTertua}"></td>
			</tr>
		</tbody>
	
	</table>
		
</body>
</html>