<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Jabatan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container-fluid">
		<h1>Lihat Semua Jabatan</h1>
        <div class="table">
        	<table class="table table-hover" id="myTable">
        		<thead>
        			<th>Nama</th>
        			<th>Deskripsi</th>
        			<th>Gaji Pokok</th>
        			<th>Jumlah Pegawai</th>
        		</thead>
        		<tbody>
     			<tr  th:each  = "jabatan : ${jabatanList}" >
     				<td th:text="${jabatan.nama}"></td>
     				<td th:text="${jabatan.deskripsi}"></td>
     				<td th:text="${jabatan.gajiPokok}"></td>
     				<td th:text="${jabatan.pegawaiList.size()}"></td>
     			</tr>
     		</tbody>
        	</table>
	</div>
    <script type="text/javascript">
    	$(document).ready(function(e){
    		$(myTable).DataTable()
    	});
    </script>	
	
</body>
</html>