<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lihat Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<h2 th:text="'Lihat Data Pegawai - '+ ${pegawai.nip}"></h2>
	<br>
	<table class="table">
		<tbody>
			<tr>
				<td th:text="'NIP'"></td>
				<td th:text="${pegawai.nip}"></td>
			</tr>
			<tr>
				<td th:text="'Nama'"></td>
				<td th:text="${pegawai.nama}"></td>
			</tr>
			<tr>
				<td th:text="'Tempat Lahir'"></td>
				<td th:text="${pegawai.tempatLahir}"></td>
			</tr>
			<tr>
				<td th:text="'Tanggal Lahir'"></td>
				<td th:text="${pegawai.tanggalLahir}"></td>
			</tr>
			<tr>
				<td th:text="'Tahun Masuk'"></td>
				<td th:text="${pegawai.tahunMasuk}"></td>
			</tr>
			<tr>
				<td th:text="'Nama Instansi'"></td>
				<td th:text="${pegawai.instansi.nama} + ' - ' + ${pegawai.instansi.provinsi.nama}"></td>
			</tr>
			<tr th:each="jabatan, iterationStat : ${pegawai.jabatanList}">
				<td th:text="${iterationStat.first} ? 'Jabatan'"></td>
				<td>
					<ul>
						<li th:text="${jabatan.nama}"></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td th:text="'Gaji'"></td>
				<td th:text="'Rp' + ${gaji}"></td>
			</tr>
		</tbody>
	
	</table>
	<form th:action="@{/pegawai/ubah}" name=getPegawai method = "GET">
		<input type="hidden" th:value="${pegawai.nip}" name="nip" />
		<button type = "submit" class = "btn btn-primary"> Ubah Pegawai</button>
	</form>
		
</body>
</html>